body {
    
 color: yellow;
 font-style: sanserif;
 text-align: center;
 background: pink;
 font-weight: bold;
 font-size: 20px;

}
.img container {
 " height="130";}width=130"
}
.video container{
    position: relative;
    text-align: center;
}

#datetime {
    color: black;
    text-align: left;
    font-size: 20px;
    position: absolute;
    
}
#time {
    color: black;
    text-align: left;
    font-size: 20px;
    position: absolute;
}