body {
    
 color: purple;
 font-style: sanserif;
 text-align: center;
 background: gray;
 font-weight: bold;
 font-size: 20px;

}
.img container {
 " height="130";}width=130"
}
.video container{
    position: relative;
    text-align: center;
}